.about-features{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    justify-content: center;
    align-items: start;
    gap: 2rem;
}
.about-features h3{
    margin-bottom: 1rem;
}