.hero-floater{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.hero-heading{
    color: #fff;
    font-size: 80px;
    line-height: 75px;
    text-align: center;
    font-family: Helvetica-Bold;
}
.hero-enroll-btn{
    margin-top: 1.7rem;
    padding: 15px 25px;
}
.slide img{
    height: 15rem;
    width: 15rem;
}

@media screen and (max-width: 980px) {
    .hero-heading{
        font-size: 50px;
        line-height: 55px;
    }
    .hero-enroll-btn{
        margin-top: 1.3rem;
    padding: 13px 18px;

    }
}

@media screen and (max-width: 700px) {
    .hero-heading{
        font-size: 40px;
        line-height: 35px;
    }
    .hero-enroll-btn{
    padding: 10px 15px;
    margin-top: .5rem;
    }
    .slide img{
        width: 10rem;
        height: 10rem;
    }
}

@media screen and (max-width: 480px) {
    
    .hero-heading{
        font-size: 30px;
        line-height: 35px;
    }
    .hero-enroll-btn{
    padding: 6px 8px;
    margin-top: 0;
    }
    .slide img{
        width: 6rem;
        height: 6rem;
    }
}